
### AngularJS 

snippet ngc
	ng-controller="${1}"
##
snippet nga
	ng-app="${1}"
##
snippet ngr
	ng-repeat = "${1} in ${2}"
##
snippet %=
	<%= ${1} %>
		${2}
	<% end %>
##
snippet %
	<% ${1} %>
		${2}
	<% end %>

