### HTML5
snippet html5
	<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>${1}</title>
	</head>
	<body>
	</body>
	</html>

snippet script
	<script ${1}></script>

snippet type
	type="${1}"

snippet src
	src="${1}"

### ReactJS

snippet jsx
	/** @JSX React.DOM */

### AngularJS 

snippet ngc
	ng-controller="${1}"
##
snippet nga
	ng-app="${1}"
##
snippet ngr
	ng-repeat = "${1} in ${2}"
##
snippet %=
	<%= ${1} %>
		${2}
	<% end %>
##
snippet %
	<% ${1} %>
		${2}
	<% end %>

